body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/*Do not delete it stops buttons from doing wierd things on hover*/

.btn-nice a{
  text-decoration:none;
  color:black;
 
 
}

.btn-nice a:hover{
  text-decoration:none;
  color:white;
 
 
}



.btn-nice{
  
  border:solid 2px #1f1f1f;
  background: transparent;
  color: #1f1f1f;
  padding:5px;
  margin: 2px;
}




.btn-nice:hover,
.btn-nice:active,
.btn-nice:hover *,
.btn-nice:active *{
  
  border:solid 2px #1f1f1f;
  background: #1f1f1f;
  color: #fff;

}

//SIDE BAR PRE-REFACTOR
/*
=============== 
Home
===============
*/


main {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  
  
}

.main-area {
 width:80%;
 margin:0 auto;
  
  
}




.sidebar-toggle {
  position: fixed;
  top: 1rem;
  right: 1rem;
  font-size: 2rem;
  background: transparent;
  border-color: transparent;
  color: var(--clr-primary-5);
  transition: var(--transition);
  cursor: pointer;
 
}

.nav-arrow {
  font-size: 5rem;
  
}
.nav-arrow-left{
  position: fixed;
  left: 1rem;
  bottom:50%;
}
.nav-arrow-right{
  position: fixed;
  right: 1rem;
  bottom:50%;
  
}

.nav{
  
  background: red;
}

.main-area{
  
  height:80vh;
}



/*
=============== 
Sidebar
===============
*/
.sidebar-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 1.5rem;
}
ul {
  list-style-type: none;
  

}
li{
  text-transform: uppercase;
  text-decoration:none;
}


.links {
  
  font-size: 1.25rem;
  margin: 20px 0 0 0;
  padding: 0;

}
  
.links > li > a{
  
    
  text-decoration: none; 
  
  
  

  

}
  
.links > li > a:visited {
  
    
    text-decoration: none; 
    
    
    
  
    
  
}


/*
.close-btn {
  font-size: 1.75rem;
  background: transparent;
  border-color: transparent;
  color: var(--clr-primary-5);
  transition: var(--transition);
  cursor: pointer;
  color: var(--clr-red-dark);
  margin-top: 0.2rem;
}
.close-btn:hover {
  color: var(--clr-red-light);
}*/

/*

.social-icons {
  justify-self: center;
  display: flex;
  padding-bottom: 2rem;
}
.social-icons a {
  font-size: 1.5rem;
  margin: 0 0.5rem;
  color: var(--clr-primary-5);
  transition: var(--transition);
}
.social-icons a:hover {
  color: var(--clr-primary-1);
}*/

.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 20%;
  background: #D3D3D3;
  display: grid;
  grid-template-rows: auto 1fr auto;
  row-gap: 1rem;
  box-shadow: var(--clr-red-dark);
  transition: all 0.3s linear;
  transform: translate(0,-100%);
  
}
.show-sidebar {
  transform: translate(0);
}





/*
=============== 
Light Dark Slider
===============
*/

/* The switch - the box around the slider */
.switch {
  position: absolute;
  display: inline-block;
  width: 70px;
  height: 34px;
  
  top: 1.05rem;
  right: 5rem;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #03080d;
}

input:focus + .slider {
  box-shadow: 0 0 1px #ccc;
}

input:checked + .slider:before {
  -webkit-transform: translateX(35px);
  -ms-transform: translateX(35px);
  transform: translateX(35px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}


/* Adding text in the toggle button */
.switch .labels {
  position: absolute;
  top: 10px;
  left: 0;
  width: 100%;
  height: 100%;
  font-size: 12px;
  font-family: sans-serif;
  transition: all 0.4s ease-in-out;
}


.switch .labels::after {
  content: attr(data-off);
  position: absolute;
  right: 5px;
  color: #4d4d4d;
  opacity: 1;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.4);
  transition: all 0.4s ease-in-out;
}

.switch .labels::before {
  content: attr(data-on);
  position: absolute;
  left: 5px;
  color: #ffffff;
  opacity: 0;
  text-shadow: 1px 1px 2px rgba(255, 255, 255, 0.4);
  transition: all 0.4s ease-in-out;
}

.switch input:checked~.labels::after {
  opacity: 0;
}

.switch input:checked~.labels::before {
  opacity: 1;
}

/*
=============== 
Portfolio 
===============
*/
.portfolio-item-container{
  overflow-y:auto;
  margin: 0 auto;
  border: 1px solid white;
  width: 80%;
  height: 90%;
  display: flex;
  align-items: center;
  gap: 20px;
  flex-wrap: wrap;
}

.portfolio-image{
  height:40%;
  width:40%;
}

.portfolio-item{
  height:40%;
  width:40%;
  margin: 0 auto;
}


@media screen and (min-width: 676px) {
  .sidebar {
    width: 300px;
    height: 100%;
    transform: translate(-100%);
    transition: all 0.3s linear;
  }
  .show-sidebar {
    transform: translate(0);
  }
  

  ul {
    list-style-type: none;
    padding: 0;
    margin: 20px 0 0 0;
  }
  
  
  .links {
    
    font-size: 1.25rem;
    text-transform: uppercase;
    text-decoration: none; 
    
    color: var(--clr-grey-3);
    transition: var(--transition);
    letter-spacing: var(--spacing);
  }
  .links > li > a{
  
    
    text-decoration: none; 
    
    
    
  
    
  
  }
  .links > li > a:visited {
  
    
    text-decoration: none; 
    
  
  }

 


  /*move the arrows further apart*/
}




@media screen and (max-width: 676px) {
 
  .switch {
    position: absolute;
    display: inline-block;
    width: 70px;
    height: 34px;
    top: 1.05rem;
    left: 1rem;
    
    
    
  }

  .nav-arrow {
    font-size: 4rem;
    opacity: 0.5;
    
  }
  .nav-arrow-left{
    position: fixed;
    left: -10px;
    bottom:50%;
  }
  .nav-arrow-right{
    position: fixed;
    right: -10px;
    bottom:50%;
    
  }



  /*move the arrows further apart*/
}
